.NewTodoForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.NewTodoForm input {
    padding: 5px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.NewTodoForm button {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.NewTodoForm button:hover {
    background: #0056b3;
}